# R for travis: see documentation at https://docs.travis-ci.com/user/languages/r

language: R
sudo: false
cache: packages

r:
- 3.1
- 3.2
- oldrel
- release
- devel

after_success:
  - Rscript -e 'covr::codecov()'

before_install:
- if [ "$TRAVIS_PULL_REQUEST" == "false" ] ; then
    openssl aes-256-cbc -K $encrypted_95be9bef5db7_key -iv $encrypted_95be9bef5db7_iv -in tests/testthat/service-token.json.enc -out ~/.bigrquery-token.json -d;
  fi

env:
  global:
    - _R_CHECK_FORCE_SUGGESTS_=false
    - BIGQUERY_TEST_PROJECT=bigrquery-examples
