S3method(as.data.frame,source_bigquery)
S3method(dim,source_bigquery)
S3method(dimnames,source_bigquery)
S3method(format,size)
S3method(head,source_bigquery)
S3method(print,source_bigquery)
S3method(source_vars,source_bigquery)
S3method(tail,source_bigquery)
export(get_access_cred)
export(get_job)
export(get_table)
export(insert_query_job)
export(list_datasets)
export(list_projects)
export(list_tabledata)
export(list_tables)
export(query_exec)
export(set_access_cred)
import(assertthat)
importFrom(RJSONIO,toJSON)
importFrom(dplyr,is.source)
importFrom(dplyr,partial_eval)
importFrom(dplyr,select_query)
importFrom(dplyr,source_vars)
importFrom(dplyr,sql_infix)
importFrom(dplyr,sql_prefix)
importFrom(dplyr,sql_variant)
importFrom(dplyr,to_sql_q)
importFrom(httr,GET)
importFrom(httr,POST)
importFrom(httr,add_headers)
importFrom(httr,content)
importFrom(httr,http_status)
importFrom(httr,oauth2.0_token)
importFrom(httr,oauth_app)
importFrom(httr,oauth_endpoint)
importFrom(httr,parse_media)
importFrom(httr,sign_oauth2.0)
